@{
    ViewBag.Title = "Add new Case";
}
<h2>@ViewBag.Title</h2>

<form>
    <div class="form-group">
        <label for="caseNumber">Case number:</label>
        <input type="text" class="form-control" id="caseNumber">
    </div>
    <div class="form-group">
        <label for="kind">Kind:</label>
        <input type="text" class="form-control" id="kind">
    </div>
    <div class="form-group">
        <label for="customerNumber">Customer number:</label>
        <input type="text" class="form-control" id="customerNumber">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>