@{
    ViewBag.Title = "Show Case";
}
<h2>@ViewBag.Title</h2>

    <div class="form-group">
        <label for="caseNumber">Case number:</label>
        <label for="caseNumberValue"></label>
    </div>
    <div class="form-group">
        <label for="kind">Kind:</label>
        <label for="kindValue"></label>

    </div>
    <div class="form-group">
        <label for="customerNumber">Customer number:</label>
        <label for="customerNumberValue"></label>

    </div>
<div class="form-group">
    <label for="attachment">Attachment:</label>
    <label for="attachmentValue">Attachment:</label>
</div>