@{
    ViewBag.Title = "Update exiting Case";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{

    <div class="form-group">
        <label for="id">Case id:</label>
        <input type="text" class="form-control" id="id" name="id" required="required">
    </div>
   
    <div class="form-group">
        <label for="attachment">Attachment:</label>
        <input type="file" class="form-control" id="file" name="file" required="required">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

}